:root {
    --color-base: #3498db;

    --color-light-1: #8642bd;
    --color-light-2: #8ac4ea;
    --color-light-3: #b5d9f1;
    --color-light-4: #e0eef8;

    --color-dark-1: #2c81ba;
    --color-dark-2: #246a99;
    --color-dark-3: #1b4f73;
    --color-dark-4: #35383b;

    --color-gray-1: #6c8a9e;
    --color-gray-2: #9aa8b2;
    --color-gray-3: #c8d1d6;
    --color-gray-4: #e6eaed;

    --font-small: 14px;
    --font-medium: 20px;
    --font-large: 38px;

    --spacing-small: 1em;
    --spacing-medium: 2em;
    --spacing-large: 3em;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(500px at center, rgb(20, 0, 34), rgb(15, 15, 15));
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-small);
    height: 15vh;
    gap: var(--spacing-small);
}

.navbar-logo img {
    height: 4em;
}

.download-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.download-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    text-align: center;
}

.download-page-introduce {
    display: grid;
    align-items: center;
    gap: var(--spacing-small);
}

.download-page-introduce h1 {
    font-size: var(--font-large);
}

.download-page-introduce p {
    color: var(--color-gray-2);
    font-size: var(--font-medium);
}

.download-page-input-url {
    min-height: 6.5vh;
    min-width: 40vw;
    padding-left: 3%;
    border: 1px solid var(--color-dark-4);
    border-radius: 20px 0 0 20px;
    background-color: rgba(13, 13, 13, 0.2);
    color: white;
    font-size: var(--font-small);
}

.search-button {
    min-height: 6.5vh;
    min-width: 10vh;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--color-light-1);
    color: white;
    cursor: pointer;
    font-size: var(--font-small);
}

.search-button:hover {
    background-color: var(--color-dark-1);
}

.download-button {
    height: 6.5vh;
    width: 11vh;
    border: 1px solid var(--color-gray-2);
    border-radius: 20px;
    background-color: rgba(227, 193, 255, 0.2);
    color: white;
    cursor: pointer;
    font-size: var(--font-small);
}

.download-button:hover {
    background-color: rgba(227, 193, 255, 0.4);
}

.bi.bi-link-45deg {
    color: var(--color-light-1);
}

hr {
    border-color: rgba(202, 196, 208, 0.356);
}